.Ocean {
	height: 100vh;
	width: 100vw;
	background-color: rgb(234, 227, 227);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.island {
	width: 40%;
	background-color: white;
	box-shadow: 0.1px 1px 3px black;
	border-radius: 30px;
	margin-bottom: 20px;
	padding: 10px;

	@media screen and (max-width: 1024px) {
		width: 50%;
		padding: 0;
	}
	@media screen and (max-width: 768px) {
		width: 100%;
		padding: 0;
	}
}
.rdp-day_selected {
	background-color: rgb(135, 78, 50) !important;
}
.rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
	background-color: rgba(135, 78, 50, 0.764) !important;
}
.formLabels {
	color: black;
	margin: 5px;
	align-self: center;
}

.form {
	display: flex;
	flex-direction: column;
}

.input {
	height: 19%;
}

.calander {
	height: auto;
	width: auto;
}

.submitButton:hover {
	background-color: rgba(135, 78, 50, 0.813);
}
